.hidden {
  display: none;
}

ul {
  list-style: none;
}

#gif-result > ul {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  padding:0;
}

#gif-result ul > li {
  justify-self: fill;
  background-color: lightblue;
  display: flex;
  margin: 0.5em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#gif-result ul li > a {
  padding: 1em 0 1em 0;
}

#detailed-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,.8);
}

#detailed-overlay > div {
  background-color: white;
  padding: 4em;
  position: absolute;
  top: calc(50% - 30em);
  left: calc(50% - 18em);
}
